body {
    display: flex;
    justify-content: center;
}

.Maps{
    height: 600px;
    width: 150vh;
}

.map{
    height: 100%;
    width: 100%;
}

.marker{
    background-image: url('https://i.imgur.com/oz3r3Wq.png');
    background-size: cover;
    width: 22px;
    height: 22px;
}

.marker-delivery{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 11px
}

.marker-city{
    background-image: url('https://www.freeiconspng.com/uploads/red-location-map-pin-icon-5.png');
    background-size: cover;
    width: 22px;
    height: 22px;
}